.avatar{
    
    display:block;
    margin:auto;
    height: 350px;
    width: 450px;
}
.buton{
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.center{
   text-align: center;
}